.Wrap {
    height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 15vh;
}
.Info {
    margin: auto;
    margin-top: 5%;
    font-size: 2.5vh;
    width: 80%;
    text-align: justify;
}
.Info p {
    opacity: 0;
    transition: opacity 1s;
}
.Info p a {
    font-size: 2.6vh;
    color: crimson;
}

.SkillsContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 8%;
}
@media screen and (min-width: 1025px) {
    .Wrap {
        height: 120vh;
    }
    .Info {
        font-size: 2vh;
        width: 35%;
    }
    .Info p a {
        font-size: 2.1vh;
    }
    
}

