
.Skill {
        height: 10vh;
        width: 10Vh;
        background:#536069d7;
        border-radius: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: bariol;
        font-size: 1.3vh;
        font-weight: 700;
        margin: 0 2%;
        transition: background 0.5s, color 0.5s;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Skill:hover {
    background: crimson;
}

@keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }


