footer {
    height: 18vh;
    width: 100vw;
    font-size: 1.5vh;
    background: linear-gradient(to top, rgb(246, 246, 224),  var(--white));
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
}
footer div {
    height: 100%;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div span span {
    color: rgb(204, 30, 64);
}
footer div span {
    margin-top: 0.2rem;
}
.ReactLogo {
    height: 2vh;
}
.GitHubLogo {
    height: 4vh;
    transition: filter 0.5s;
}
.GitHubLogo:hover {
    filter: invert();
}

@media screen and (min-width: 1025px) {
    footer {
        height: 24vh;
    }
    footer div span {
        margin-top: 0.8rem;
    }
}

@media screen and (max-height: 450px) and (orientation : landscape) {
    footer {
        font-size: 0.5rem;
    }
}


