
.Wrap {
    width: fit-content;
     height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4vw;
    top: 0;
}

.Dock img {
    height: 3vh;
}
.Dock {
    font-size: 2vh;
}

.Wrap a {
    display: flex;
    padding-top: 0.30rem;
    padding-right: 1vh;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 1s;
}
.Wrap a:hover {
    opacity: 1;
}



@media screen and (min-width: 1025px) {
    .Wrap {
        right: 3vh;
    }

}
