
.Wrap {
    width: fit-content;
    text-align: center;
    display: flex;
    position: absolute;
    right: 4vw;
    top: 0.5vh;
}

.Dock img {
    height: 2.6vh
}
.Dock {
    font-size: 2vh;
}

.Wrap a {
    display: flex;
    padding-top: 0.30rem;
    padding-right: 1vh;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 1s;
}
.Wrap a:hover {
    opacity: 1;
}



@media screen and (min-width: 1025px) {
    .Wrap {
        right: 3vh;
    }

}
@media screen and (max-height: 700px) and (orientation: landscape) {
    .Wrap {
        right: 2vh;
    }
    .Wrap a{
        font-size: 5vh;
        margin-right: 1vh;
    }
    .Wrap img {
        height: 6vh;
        padding-top: 0.5vh;
    }
}